body {
  font-family: 'Open Sans', sans-serif;
  padding: 0px;
  margin: 0px;
}
h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  font-weight: bold;
}
a {
  color: #E37222;
}
a:hover {
  color: #EEAA7B;
}
.header {
  font-size: 20px;
  vertical-align: middle;
  text-decoration: none;
  background-color: #66B9Bf;
  color: white;
  padding: 15px;
  -webkit-transition: background-color 0.13s ease-in;
  -moz-transition: background-color 0.13s ease-in;
  -o-transition: background-color 0.13s ease-in;
  transition: background-color 0.13s ease-in;
}
.header:hover {
  background-color: #07889B;
  color: white;
}
.padlink {
  margin-top: 10px;
}
.biglink {
  font-size: 24px;
  color: #333333;
  text-decoration: none;
}
strong {
  font-weight: bold;
}
.ipa {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.limg {
  margin-right: 30px;
  float: left;
}
.boxlink {
  text-decoration: none;
  white-space: nowrap;
  background-color: #770000;
  color: white;
  margin-right: 3px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 5px;
}
.publicationsdiv > p {
  line-height: 250%;
}
.column {
  float: left;
  padding: 20px;
}
.left {
  width: 25%;
}
.right {
  width: 75%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
